<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs:

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

In both cases, download then run the `msi` package if using Windows.

In [2]:
!pip install pymongo

Collecting pymongo
  Obtaining dependency information for pymongo from https://files.pythonhosted.org/packages/4d/88/7b9bfad1ad6269e0b9e0bb39d093aabc27837da4ccb93391cda68f580984/pymongo-4.5.0-cp311-cp311-win_amd64.whl.metadata
  Downloading pymongo-4.5.0-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Obtaining dependency information for dnspython<3.0.0,>=1.16.0 from https://files.pythonhosted.org/packages/f6/b4/0a9bee52c50f226a3cbfb54263d02bb421c7f2adc136520729c2c689c1e5/dnspython-2.4.2-py3-none-any.whl.metadata
  Downloading dnspython-2.4.2-py3-none-any.whl.metadata (4.9 kB)
Downloading pymongo-4.5.0-cp311-cp311-win_amd64.whl (468 kB)
   ---------------------------------------- 0.0/468.2 kB ? eta -:--:--
   --------------------------------------- 468.2/468.2 kB 30.5 MB/s eta 0:00:00
Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
   ---------------------------------------- 0.0/300.4 kB ? eta -:--:--
   --------------------------------------- 300.4/300.4 kB 18.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0

In [3]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.5.0

Start the mongod server (if it isn't already running) by executing  
`mongod`  
at the command prompt (or terminal window). If your path environment variables are not set up, this can be achieved by navigating within the command prompt to the bin folder of MongoDB Server first.

In [12]:
client = MongoClient('localhost', 27017)

In [13]:
db = client.test
collection = db.people
collection.drop()

Create a new database:

In [14]:
mydb = client["mydatabase"]

Confirm that the database exists ...

- list all databases in your system:

In [15]:
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

- check for the database by name:

In [16]:
existing_databases = client.list_database_names()
if "mydatabase" in existing_databases:
    print("Database 'mydatabase' exists.")
else:
    print("Database 'mydatabase' does not exist.")

existing_databases

Database 'mydatabase' exists.

['admin', 'config', 'local', 'mydatabase']

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [9]:
mycol = mydb['customers']

Create a document (i.e. a dictionary) with two name:value items
("name" = "John", and "address" = "Highway 37") and insert
it into the "customers" collection:

In [13]:
mycol.insert_one( {
    "name": "John",
    "address": "Highway 37"
} )

Now test for the existence of the database:

In [14]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

List all collections in the database:

In [16]:
mydb.list_collection_names()

['customers']

Insert another record in the "customers" collection
("name" = "Peter", "address" = "Lowstreet 27")
and return the value of the _id field:

In [18]:
retVal = mycol.insert_one( { 
    "name": "Peter",
    "address": "Lowstreet 27"
} )

In [21]:
retVal.inserted_id

ObjectId('6506881e771312970ea4ebae')

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [23]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [ ]:
result = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [27]:
result.inserted_ids

[ObjectId('6506891e771312970ea4ebaf'),
 ObjectId('6506891e771312970ea4ebb0'),
 ObjectId('6506891e771312970ea4ebb1'),
 ObjectId('6506891e771312970ea4ebb2'),
 ObjectId('6506891e771312970ea4ebb3'),
 ObjectId('6506891e771312970ea4ebb4'),
 ObjectId('6506891e771312970ea4ebb5'),
 ObjectId('6506891e771312970ea4ebb6'),
 ObjectId('6506891e771312970ea4ebb7'),
 ObjectId('6506891e771312970ea4ebb8'),
 ObjectId('6506891e771312970ea4ebb9'),
 ObjectId('6506891e771312970ea4ebba')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [28]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [6]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

NameError: name 'mycol' is not defined

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [30]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [33]:
findHannah = mycol.find_one({"name": "Hannah"})
print(findHannah)

{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [34]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('650687ca771312970ea4ebad'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [35]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [39]:
for x in mycol.find({}, {"_id": 1, "name": 1}):
    print(x)

{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John'}
{'_id': ObjectId('650687ca771312970ea4ebad'), 'name': 'Peter'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter'}
{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [49]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [58]:
myquery = { "address": { "$in": ["Yellow Garden 2", "Sideway 1633"] } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

print("--------------")

myquery2 = { "address": { "$nin": ["Yellow Garden 2", "Sideway 1633"] } }
mydoc2 = mycol.find(myquery2)
for y in mydoc2:
    print(y)
    
print("--------------")

myquery3 = { "address": { "$exists": True } }
mydoc3 = mycol.find(myquery3)
for z in mydoc3:
    print(z)
    
print("--------------")

myquery4 = { "$and": [ {'address': { '$gt': 'U' }}, {'name': { '$gte': 'C' }} ] }
mydoc4 = mycol.find(myquery4)
for v in mydoc4:
    print(v)

{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
--------------
{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('650687ca771312970ea4ebad'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
--------------
{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('650687ca771312970ea4ebad'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
--------------
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [59]:
myquery = {'address': {'$regex': '^S'} }
mydoc = mycol.find(myquery)
for v in mydoc:
    print(v)

{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [62]:
mydoc = mycol.find()
mydoc.sort('name')

for x in mydoc:
    print(x)

{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('650687ca771312970ea4ebad'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [64]:
mydoc = mycol.find()
mydoc.sort('name', -1)
for x in mydoc:
    print(x)

{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('650687ca771312970ea4ebad'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [65]:
mycol.delete_one({ "address": "Lowstreet 27" })

Now delete all docs with the 2-digit `Id` values:

In [69]:
regex_pattern = "^[0-9]{2}$"
deletion = mycol.delete_many({"_id": {'$type': 16}})
for x in mycol.find():
    print(x)

{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [79]:
query = {"address": "Valley 345"}
update = {"$set": {"address": "Canyon123"}}
mycol.update_one(query, update)
for x in mycol.find().sort("address"):
    print(x)

{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Canyon123'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('650685b0771312970ea4ebab'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6506881e771312970ea4ebae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6506891e771312970ea4ebb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6506891e771312970ea4ebb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6506891e771312970ea4ebb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6506891e771312970ea4ebb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6506891e771312970ea4ebb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6506891e771312970ea4ebba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6506891e771312970ea4ebb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6506891e771312970ea4ebb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [80]:
for x in mycol.find().sort("address").limit(5):
    print(x)

{'_id': ObjectId('6506891e771312970ea4ebaf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6506891e771312970ea4ebb1'), 'name': 'Michael', 'address': 'Canyon123'}
{'_id': ObjectId('6506891e771312970ea4ebb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6506891e771312970ea4ebb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6506869d771312970ea4ebac'), 'name': 'John', 'address': 'Highway 37'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [4]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html
import os
import pandas as pd
import numpy as np

The following code creates a database named "test" and populates it from a JSON file using the mongoimport program.

Firstly execute the following in a command prompt (or terminal window) after changing the path to point to your `dummyData.json` file in your machine. If your path environment variables are not set up, this can work by navigating first to the bin folder within MongoDB/Tools.

`mongoimport --db mydatabase --collection people --drop --file ..\\DATA\\dummyData.json`

`mongoimport -d mydatabase -c people --file ..\\DATA\\dummyData.json`

In [5]:
client = MongoClient('localhost', 27017) #connects to your local mongoDB

In [6]:
db = client.mydatabase
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('6508137ee1226aaad2de3490'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('6508137ee1226aaad2de3445'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('6508137ee1226aaad2de348b'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}

In [26]:
randomAgg = collection.aggregate([
    {
        '$group': {
            "_id": "$Country",
            "Age": {'$sum': '$Age'},
            "Count": {'$sum': 1}
        }
    },
    {
        '$sort': {
            "Count": -1
        }
    }
])

dfrand = pd.DataFrame(list(randomAgg))
dfrand = dfrand.set_index("_id")
dfrand

                                              Age  Count
_id
China                                         185      4
Antarctica                                    139      3
Guernsey                                      145      3
Saint Helena, Ascension and Tristan da Cunha   70      2
Heard Island and Mcdonald Islands              58      2
...                                           ...    ...
Jamaica                                        31      1
Palestine, State of                            62      1
Dominica                                       48      1
United Arab Emirates                           22      1
Saint Pierre and Miquelon                      45      1

[82 rows x 2 columns]

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [60]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [27]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,6508137ee1226aaad2de345a,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,6508137ee1226aaad2de347f,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,6508137ee1226aaad2de3492,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,6508137ee1226aaad2de349d,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [71]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

Folium version 0.14.0

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

In [36]:
mydict = { "Name": "John", "address": "Highway 37" }
collection.insert_one(mydict)

In [42]:
myAgg = collection.aggregate ([
    {
        '$match': {
            '$or': [
                {'name': 'John'},
                {'Name': 'John'},
            ]
        }
    }
])

mydf = pd.DataFrame(list(myAgg))
mydf

                        _id  name     address  Name
0  650911fa2670f71373bdbae3  John  Highway 37   NaN
1  650912152670f71373bdbae4  John  Highway 37   NaN
2  6509121f2670f71373bdbae5  John  Highway 37   NaN
3  650913532670f71373bdbae6  John  Highway 37   NaN
4  650913b32670f71373bdbae7   NaN  Highway 37  John

In [45]:
collection.delete_many({
    '$or': [
        {'name': 'John'},
        {'Name': 'John'}
    ]
})

In [46]:
myAgg = collection.aggregate ([
    {
        '$match': {
            '$or': [
                {'name': 'John'},
                {'Name': 'John'},
            ]
        }
    }
])

mydf = pd.DataFrame(list(myAgg))
mydf

Empty DataFrame
Columns: []
Index: []

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.

In [47]:
collection.create_index([("name", 1), ("address", 1)])
indexes = collection.list_indexes()
for index in indexes:
    print(index)

SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_')])
SON([('v', 2), ('key', SON([('name', 1), ('address', 1)])), ('name', 'name_1_address_1')])



>
>
>



---



---



> > > > > > > > > © 2023 Institute of Data


---



---